*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9C9EC4;
}
.container{
    width: 55vh;
    height: 65vh;
    position: relative;
    background-color: white;
    border-radius: 10px;
}
.image-container{
    width: 100%;
}
.image-container img{
    width: 100%;
    border-radius: 10px 10px 0px 0px ;
}
.text-container{
 height: 50%;
 width: 100%;
 padding: 19px;
}
span{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;

}
p{
    margin-top: 10px;
    font-size: 13px;
    text-align: justify;
}
.tag{
    position: absolute;
    top: 10px;
    padding: 10px 10px;
    background-color: #FFEFB1;
    border-radius: 10px 50px 50px 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    left: -8px;
}